//.ant-modal-mask,.into-home-modals{
//  display: none;
//}
//.carousel-info-wrap{
//  width: 100vw;
//  height: 20px;
//  color: white;
//  position: fixed;
//  left: 0;
//  top: 5.2vh;
//  overflow: hidden;
//  //background-color: rgba(0,0,0,0.5);
//  z-index: 999;
//  p{
//    //background-color: rgba(0,0,0,0.5);
//    text-align: center;
//    margin: 0;
//    height: 20px;
//    line-height: 20px;
//    position: relative;
//    font-size: 10px;
//    color: #bbbbbb;
//    .trumpet{
//      display: inline-block;
//      width: 12px;
//      height: 20px;
//      background-image: url("../../layouts/image/info.png");
//      background-size: 100% 60%;
//      margin-right: 5px;
//      margin-top: -2px;
//      background-repeat: no-repeat;
//      background-position: center;
//    }
//    span{
//      margin-top: -4px;
//      vertical-align: middle;
//      display: inline-block;
//      height: 20px;
//      line-height: 20px;
//    }
//  }
//}
.splash-screen{
  width: 100vw;
  height: 100vh;
  background-image: url("../../layouts/image/checkHome/splash.jpg");
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  //animation-delay: 1s!important;
  //animation-timing-function: linear;
  //animation: splash 1s;
}
.head-wrap{
  position: relative;
  margin-top: 2.2vh;
  padding: 0 5vw;
  .header-top{
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 22.67vw;
    background-size: 100% 100%;
    //z-index: 99;
    background-image: url("../../layouts/image/index1/top.png");
  }
  >img{
    float: left;
    border-radius: 50%;
    width: 13.3vw;
    height: 13.3vw;
    border:1px solid #fff;
    margin: 0 2vw 0 0;
    position: relative;
    z-index: 10;
  }
  .my-info{
    color:#fff;
    height: 13.3vw;
    span{
      font-size: 3vw;
      display: inline-block;
      height: 40%;
      vertical-align: center;
      position: relative;
      top: 1vw;
    }
    .my-vip{
      img{
        width: 5vw;
        height: 4.21vw;
        position: relative;
        left: 1vw;
        top: -0.5vw;
      }
    }
  }
  .my-money-item{
    position: absolute;
    text-align: right;
    top:1vw;
    display: block;
    margin-right: 2vw;
    //width: 30vw;
    padding: 0 6vw 0 8vw!important;
    height: 5vw;
    line-height: 5vw;
    color: #fff;
    //padding-right: 5vw;
    background-color: rgba(0,0,0,.2);
    //border:1px solid rgb(104,70,159);
    border-radius: 3vw;
    span:not(.my-trophy):before{
      content: "";
      display: inline-block;
      width: 4.3vw;
      height: 4.6vw;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top:40%;
      transform: translateY(-50%);
    }
    span:not(.my-trophy) {
      font-size: 3vw;
      display: inline-block;
      height: 5vw;
      line-height: 5vw;
      float: right;
      margin-right: -0.5vw;
    }
    //span:not(.my-trophy){
    //  font-size: 3vw;
    //}
    .my-money-item-pay{
      content: "";
      display: inline-block;
      width: 5vw;
      height: 5vw!important;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top:45%;
      transform: translateY(-50%);
      background-image: url("../../layouts/image/more_gold.png");
      right: -0.5vw;
    }
    .my-money-item-pay:before{
      display: none!important;
    }
  }
  .my-money-item{
    right: 4vw;
    span:not(.my-trophy):before{
      width: 5.5vw;
      height: 6.3vw;
      margin-top: 0.3vw;
      background-image: url("../../layouts/image/gold.png");
      left: -0.5vw;
    }
  }
  .my-sliver-item{
    right: 25vw;
    span:not(.my-trophy):before{
      width: 5.8vw;
      height: 6.5vw;
      background-image: url("../../layouts/image/silver.png");
      left: -0.5vw;
    }
  }
  .my-trophy{
    display: block;
    width: 9vw;
    height: 9vw;
    position: absolute;
    bottom: -13vw;
    right: -0.5vw;
    background-image: url("../../layouts/image/trophy.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .my-task{
    display: block;
    width: 9vw;
    height: 9vw;
    position: absolute;
    bottom: -13vw;
    right: 10vw;
    background-image: url("../../layouts/image/1 (6).png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 11;
  }
  .has-task:after{
    content: "";
    display: inline-block;
    width: 10vw;
    height: 10vw;
    position: absolute;
    background-image: url("../../layouts/image/message/ss/dontai.png");
    background-size: 100% 100%;
    left: -10%;
    top: -10%;
    z-index: 10;
    animation: roa 1s infinite;
    animation-timing-function: linear;
  }
  @keyframes roa{
    0%{
      transform: rotate(0deg);
      opacity: 1;
    }
    //25%{
    //  opacity: 0;
    //}
    50%{
      transform: rotate(180deg);
      opacity: 0.3;
    }
    //75%{
    //  opacity: 0;
    //}
    100%{
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  //.relief-payment{
  //  display: block;
  //  width: 9vw;
  //  height: 9vw;
  //  position: absolute;
  //  bottom: -13vw;
  //  right: 20vw;
  //  background-image: url("../../layouts/image/1 (5).png");
  //  background-size: 100% 100%;
  //  background-repeat: no-repeat;
  //  background-position: center;
  //}
  .sign-in{
    display: block;
    width: 9vw;
    height: 9vw;
    position: absolute;
    bottom: -13vw;
    right: 20vw;
    //bottom: -13vw;
    //right: 31vw;
    background-image: url("../../layouts/image/sign.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .has-sign{
    background-image: url("../../layouts/image/sign.png");
    z-index: 11;
  }
  .not-sign:after{
    content: "";
    display: inline-block;
    width: 10vw;
    height: 10vw;
    position: absolute;
    background-image: url("../../layouts/image/message/ss/dontai.png");
    background-size: 100% 100%;
    left: -10%;
    top: -10%;
    z-index: 10;
    animation: roa 1s infinite;
    animation-timing-function: linear;
  }
  .my-trophy:after{

  }
}
.ant-input:focus{
  box-shadow: none;
}
.index-container{
  height: 100vh;
  overflow-y: hidden;
  font-size: 1px;
  //padding-top: 3vh;
  //padding-bottom: 14vh;
  .buttom-index{
    width: 100vw;
    height: 20vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url("../../layouts/image/index1/buttom.png");
    background-size: 100% 100%;
    button{
      padding: 0;
      background-image: url("../../layouts/image/index1/buttom_button.png");
      width: 17.87vw;
      height: 8.5vw;
      background-size: 100% 100%;
      color: white;
      border: none;
      position: absolute;
      top: 60%;
      background-color: transparent;
      font-size: 3vw;
      span{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 7vw;
        line-height: 7vw;
      }
    }
    button:nth-child(1){
       left: 5%;
       transform: translateY(-50%);
     }
    button:nth-child(2){
      right: 5%;
      transform: translateY(-50%);
    }
  }
  .mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
  }
  .random-invite{
    position: fixed;
    left: 0;
    top: 62%;
    z-index: 999;
    width: 12vw;
    .invite-hide{
      display: block;
      width: 5vw;
      height: 10vw;
      background-image: url("../../layouts/image/invite-hide.png");
      background-size: 100% 100%;
    }
    .invite-close{
      margin-left: 2vw;
      display: block;
      width: 10vw;
      height: 10vw;
      background-image: url("../../layouts/image/invite-close.png");
      background-size: 100% 100%;
    }
    .ant-badge-dot{
      position: absolute;
      top: 0.75vw;
      left: 2vw;
      width: 2vw;
      height: 2vw;
      border-width: 0;
      box-shadow: 0 0 0 0 transparent;
    }
  }
  .random-invite-info{
    position: fixed;
    left: 12vw;
    top: 56%;
    z-index: 9999;
    //height: 30vh;
    width: 80vw;
    p{
      white-space: nowrap;
      padding-left: 2vw;
      margin-bottom: 2vh;
      width: 80vw;
      border-radius: 1vw;
      height: 5vh;
      line-height: 5vh;
      color: white;
      font-size: 3vw;
      background-color: rgba(0,0,0,0.7);
     .message{
        display: inline-block;
        margin: 0 2vw;
        color: #decc35;
      }
      .friend-message{
        color: dodgerblue;
      }
      .message:first-child{
        margin: 0;
      }
    }
    p:first-child,p:last-child{
      margin-left: -4vw;
    }
    p:nth-child(3){
      margin-left: 4vw;
    }
  }
  .index-container-wrap{
    width: 100vw;
    padding: 2.5vw;
    margin-top: 2vh;
    height: 44vh;
    .index-content-item:nth-child(2){
      span{
        text-shadow: #427cbf 0 1px 0,#427cbf 0 0 0,#427cbf 0 0 0,#427cbf 0 0 0;
      }
    }
    .index-content-item:last-child{
      span{
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }
    }
    .index-content-item{
      position: relative;
      float: left;
      margin: 2.5vw 1vw 0;
      padding-top: 1vw;
      width: 29.33vw;
      height: 30.675vw;
      overflow: hidden;
      background-size: 100% 100%;
      img{
        width: 100%;
        height: 100%;
      }
      span{
        position:absolute;
        bottom: 6vw;
        left: 4vw;
        font-size: 3.5vw;
        color: #fff;
        text-shadow: #1c2444 1px 0 0,#1c2444 0 1px 0,#1c2444 -1px 0 0,#1c2444 0 -1px 0;
      }
      i{
        position:absolute;
        bottom: 3vw;
        left: 4vw;
        font-size: 2.5vw;
        color: #fff;
        font-style: normal;
      }
    }
  }
  .ant-modal{
    width: 300px!important;
    height: 280px!important;
  }
}
.into-home-modals{
  overflow: visible;
  width: 80vw!important;
  height: 95vw;
  margin: 0;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px;
  border-radius: 2vw;
  background-image: url("../../layouts/image/index1/setting.png");
  background-size: 100% 100%;
  .ant-modal{
    border-radius: 5px;
    margin: 0;
    width: 80vw!important;
    height: auto!important;
    position: absolute;
    top: 0;
    left: 0;
    .ant-modal-content{
      width: 100%!important;
      background-color: transparent!important;
      box-shadow: none;
      .ant-modal-body{
        width: 100%!important;
        background-color: transparent!important;
        padding: 0!important;
        .into-home{
          .login-register{
            text-align: center!important;
            .ant-form{
              text-align: center!important;
            }
            .ant-tabs-bar{
              border: none;
            }
            .ant-form-item{
              margin-bottom: 1vw;
            }
            .ant-form-item-control-wrapper{
              text-align: center;
              .before-icon{
                position: absolute;
                font-size: 1.2em;
                color: #776230;
                top:10%;
                left: 2%;
                z-index: 99;
              }
              .ant-input{
                color: #776230;
                padding-left: 10%;
                width: 90%;
                background-color: transparent!important;
                border-width: 0;
                border-bottom: 1px solid rgba(111,91,51,0.3);
              }
              .ant-input:hover{
                border-right: none;
              }
              .ant-input::-webkit-input-placeholder{
                color: rgba(111,91,51,0.3);
              }    /* 使用webkit内核的浏览器 */
              .ant-input:-moz-placeholder{
                color: rgba(111,91,51,0.3);
              }                  /* Firefox版本4-18 */
              .ant-input::-moz-placeholder{
                color: rgba(111,91,51,0.3);
              }                  /* Firefox版本19+ */
              .ant-input:-ms-input-placeholder{
                color: rgba(111,91,51,0.3);
              }           /* IE浏览器 */
              .ant-input:focus{
                border-width: 0!important;
                border-bottom: 1px solid rgba(111,91,51,0.3)!important;
                background-color: transparent!important;
              }
              .get-kaptchald{
                font-size: 3vw;
                margin-left: 4vw;
                border: none;
                border-radius: 1px;
                height: 3.6vh;
                padding: 0;
                width: 23vw;
                background-color: transparent!important;
                background-image: url("../../layouts/image/index1/btn1.png");
                background-size: 100% 100%;
              }
              .check-button{
                margin-top: 5vw;
                font-size: 3.5vw;
                border-width: 0;
                border-radius: 1vw;
                width: 40%;
                height: 4.5vh;
                background-color: transparent!important;
                background-image: url("../../layouts/image/index1/btn2.png");
                background-size: 100% 100%;
              }
              .login-botton{
                //width: 30vw;
              }
              .forgetPwd{
                font-size: 3vw;
                position: absolute;
                white-space: nowrap;
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
              }
              .forget-check{
                width: 30%;
                margin-right: 10%;
              }
              .forget-check1{
                margin-left: 0;
                width: 30%;
                background-image: url("../../layouts/image/index1/btn2.png");
              }
              .kaptchald{
                width: 50%;
              }
            }
            .ant-tabs{
              margin-top: -1px;
              width: 100%;
              height: 83vw;
              background-size: 100%;
              position: absolute;
              padding: 2vw 5vw 0;
              margin-left: -0.2px;
              overflow: auto;
              .ant-tabs-nav-wrap{
                overflow: visible;
                width: 90%;
                margin: 5vw auto 0;
              }
              .ant-tabs-nav-scroll{
                overflow: visible;
                color: #776230!important;
                .ant-tabs-nav{
                  padding: 0 5%;
                  border-bottom: 1px solid rgba(111,91,51,0.3)!important;
                  margin-bottom: 1px;
                  .ant-tabs-tab{
                    box-sizing: border-box;
                    overflow: visible;
                    padding: 3px 12px;
                    margin: 0;
                  }
                  .ant-tabs-tab:hover{
                    color: #776230!important;
                  }
                  .ant-tabs-nav-container{
                    overflow: visible;
                  }
                  .ant-tabs-tab-active{
                    color: #776230!important;
                    border-right: 1px solid rgba(111,91,51,0.3)!important;
                    border-left: 1px solid rgba(111,91,51,0.3)!important;
                    border-top: 1px solid rgba(111,91,51,0.3)!important;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  }
                }
              }
              .ant-tabs-ink-bar{
                display: none!important;
              }
              .ant-tabs-content{
                text-align: center;
              }
            }
            .ant-tabs:after{
              content: "";
              display: inline-block;
              //background-image: url("../../layouts/image/bor_bottow.png");
              background-size: 100% 100%;
              position: absolute;
              bottom: -1.5vw;
              left: 0;
              width: 100%;
              height: 2vw;
            }
          }
          .into-home-header{
            p{
              margin: 0;
              text-align: center;
              font-size: 4vw;
              font-weight: 500;
              height: 8vw;
              line-height: 8vw;
              color: white;
              text-shadow: #975f00 1px 0 0,#975f00 0 1px 0,#975f00 -1px 0 0,#975f00 0 -1px 0;
              position: relative;
              //-webkit-text-stroke: 1px rgb(80,14,119);
              .anticon-close{
                width: 7vw;
                height: 7vw;
                position: absolute;
                top: 4%;
                right: 3%;
                svg{
                  display: none;
                }
              }
              span{
                display: inline-block;
                width: 8vw;
                height: 8vw;
                position: absolute;
                right: 3vw;
                top: 3vw;
                background-image: url("../../layouts/image/close.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
              }
            }
            -moz-border-radius-topleft:5px;
            -moz-border-radius-topright:5px;
            width:100%;
            height: 10vw;
            //background-image: url("../../layouts/image/modal-img.png");
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
          .modal-content{
            border-bottom-right-radius: 2vw;
            border-bottom-left-radius: 2vw;
            margin-top: -1px;
            position: absolute;
            background-repeat: repeat;
            background-size: 100% 100%;
            padding: 6vw 2vw 0;
            .into-home-password{
              margin-left: 50%;
              transform: translateX(-50%);
              text-align: center;
              width: 100%;
              color: rgb(237,181,251);
              font-size: 14px;
              height: 4vw;
              span{
                font-size: 3vw;
                height: 4vw;
                line-height: 24px;
                vertical-align: middle;
              }
              .input-item{
                line-height: 6vw;
                display: inline-block;
                border-radius: 5px;
                text-align: center;
                width: 6vw;
                height: 6vw;
                //width: 24px;
                //height: 24px;
                -moz-box-shadow:-1px -1px -1px #fff inset;               /* For Firefox3.6+ */
                -webkit-box-shadow:-1px -1px -1px #fff inset;            /* For Chrome5+, Safari5+ */
                box-shadow:-1px -1px -1px #999 inset;                    /* For Latest Opera */
                margin: 0 3px;
                //border:1px solid #ccc;
                background-image: url("../../layouts/image/input-img.png");
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
                //background-color: rgb(29,28,52);
              }
            }
            .input-commad{
              color: #6dc049!important;
            }
            .button-group{
              text-align: center;
              width: 76vw;
              margin-left: 50%;
              transform: translateX(-50%);
              margin-top: 7vw;
              padding-left: 1.5vw;
              button{
                float: left;
                border-width: 0;
                margin: 1.5vw 1vw 0;
                font-size: 5vw;
                -webkit-text-fill-color: white;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #004142;
                position: relative;
                width: 22vw;
                height: 10vw;
                border-radius: 1vw;
                background-image: url("../../layouts/image/modal-btn-2.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                img{
                  position: absolute;
                  top: 20%;
                  left: 20%;
                  width: 60%;
                  height: 60%;
                }
              }
              button:nth-child(13){
                background-image: url("../../layouts/image/modal-btn-1.png");
              }
              button:nth-child(15){
                background-image: url("../../layouts/image/modal-btn-3.png");
                margin-bottom: 3vw;
              }
            }
          }

        }
      }
      .ant-modal-footer{
        display: none;
      }
    }
  }
}
//.ant-tabs-bar{
//  border-bottom-width: 0;
//}
//.modal-content:after{
//  border-bottom-right-radius: 2vw;
//  border-bottom-left-radius: 2vw;
//  position: absolute;
//  bottom: 0;
//  left: 0;
//  content: "";
//  display: block;
//  width: 100%;
//  height: 2vw;
//  //background-image: url("../../layouts/image/bor_bottow.png");
//  background-size: 100%;
//  background-repeat: no-repeat;
//  background-position: center;
//}
//.bind-phone{
//  width: 80vw!important;
//  .modal-content{
//    width: 80vw;
//  }
//}
